.header-fonts {
	font-family: 'Playfair Display', serif;
	font-size: xxx-large;
	font-weight: 900;
}

.sub-header-fonts {
	font-family: 'Playfair Display', serif;
	font-size: large;
	font-weight: 100;
}